@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Pacifico&family=Ubuntu+Mono:ital,wght@1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

/* Main Styling start */

.container-fluid {
	background: linear-gradient(to bottom, #d53369, #cbad6d, #dc2424, #4a569d);
}

.main {
	min-height: 81vh;
}

.col-md-8 .h1title {
	background: linear-gradient(to right, #ffefba, #ffffff);
	color: #037e96;
	font-size: 25px;
	font-weight: 700;
	line-height: 29px;
	margin: 30px 0 40px;
	text-align: center;
	word-wrap: break-word;
	border-radius: 4px;
	border: 2px solid #ccc;
	border-bottom: 6px solid #ccc;
	margin: 15px 0;
	padding: 18px;
	border-radius: 20px;
}

.col-md-8 .content {
	line-height: 35px;
	margin-bottom: 30px;
	background: linear-gradient(to right, #ffefba, #ffffff);
	text-align: left;
	word-wrap: break-word;
	border: 2px solid #ccc;
	border-top: 6px solid #ccc;
	border-radius: 20px;
	padding: 18px;
}

.col-md-8 .content p .contentspan {
	font-family: 'Original Surfer', cursive;
	color: #037e96;
}

.col-md-8 .content p a {
	text-decoration: none;
	font-family: 'Original Surfer', cursive;
}

.col-md-8 .content .container.card {
	background: linear-gradient(to right, #1d303d, #2f5072);
	border-radius: 4%;
}

.col-md-8 .content .container {
	padding: 20px;
}

.col-md-8 .content .container .row .col-md-4 img {
	width: 100%;
}

.col-md-8 .content .container .row .col-md-8 {
	color: #fff;
}

.col-md-8 .content .container .row .col-md-8 .containerspan {
	font-family: 'Original Surfer', cursive;
	color: rgb(19, 216, 173);
	font-size: 40px;
}

hr {
	border-top: 2px solid rgb(19, 216, 173);
}

.col-md-8 .content .container .row .col-md-8 .containerheading {
	font-family: 'Original Surfer', cursive;
	color: rgb(19, 216, 173);
}

.col-md-8 .content .h3moviename, .col-md-8 .content .h3movieinfo, .col-md-8 .content .pmovieinfo, .col-md-8 .content .h3storyline, .col-md-8 .content .h3screenshots {
	font-size: 17px;
	line-height: 24px;
	font-family: 'Original Surfer', cursive;
	color: #037e96;
}

.col-md-8 .content .pscreenshot img {
	border-radius: 4%;
}

.col-md-8 .content .h3download {
	font-size: 23px;
	line-height: 24px;
	font-family: 'Original Surfer', cursive;
	color: #037e96;
}

.col-md-8 .content .pscreenshot img {
	height: auto;
	width: 100%;
}

/*verify page Main Styling start */

.verifycontainer {
	background: linear-gradient(to right, #00c6ff, #0072ff);
}

.col-md-8 .content .h1verify {
	font-size: 25px;
	font-weight: 700;
	line-height: 29px;
	margin: 30px 0 40px;
}